<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Board</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;&lt;!&ndash; 검색 바 포함 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div th:replace="~{layout/search-bar :: search-bar}"></div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; 헤더 포함 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div th:replace="~{layout/header :: header}"></div>&ndash;&gt;-->
<!--<div th:replace="~{layout/base-header :: base-header}"></div>-->
<!--<div th:replace="~{layout/base-gnb :: base-gnb}"></div>-->

<!--<main class="container mt-4">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; 좌측 광고배너 &ndash;&gt;-->
<!--        <div class="col-md-2 order-md-1 order-3">-->
<!--            <div class="ad-banner">-->
<!--                &lt;!&ndash; 여기에 광고 내용을 추가하세요 &ndash;&gt;-->
<!--                광고 배너-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 가운데 게시판 리스트 &ndash;&gt;-->
<!--        <div class="col-md-8 order-md-2 order-2">-->
<!--            <div class="board-list">-->
<!--                <h1>Board List</h1>-->
<!--                <input type="hidden" id="category" th:value="${category}"/>-->
<!--&lt;!&ndash;                <a th:href="@{/home.do (criteria='all')}">최신 기준</a>&ndash;&gt;-->
<!--                &lt;!&ndash; voteCount 기준으로 요청을 보내는 링크 &ndash;&gt;-->
<!--                <a th:href="@{/home.do (criteria='likeCount')}">좋아요 기준 정렬</a>-->

<!--                &lt;!&ndash; likeCount 기준으로 요청을 보내는 링크 &ndash;&gt;-->
<!--                <a th:href="@{/home.do (criteria='viewCount')}">조회수 기준 정렬</a>-->
<!--                <th:block th:if="${not #lists.isEmpty(boardList)}">-->
<!--                    <ul>-->
<!--                        <li th:each="board : ${boardList}">-->
<!--                            <span th:text="${board.category}"></span>-->
<!--                            <a th:href="@{/board/detail/{id}(id=${board.id})}" th:text="${board.boardTitle}">Board Title</a>-->
<!--                            <span th:text="'[ 조회수: ' + ${board.viewCount} + ' ]'" alt="조회수" style="color: red"></span>-->
<!--                            <span th:switch="${board.voteProgress}">-->
<!--                                <span th:case="1">투표 진행중</span>-->
<!--                                <span th:case="2">투표 종료</span>-->
<!--                            </span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </th:block>-->
<!--                <a th:href="@{/board/create}" class="category" style="color:black">게시글 작성</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 우측 광고배너 &ndash;&gt;-->
<!--        <div class="col-md-2 order-md-3 order-1">-->
<!--            <div class="ad-banner">-->
<!--                &lt;!&ndash; 여기에 광고 내용을 추가하세요 &ndash;&gt;-->
<!--                광고 배너-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹별</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{layout/base-header :: base-header}"></div>
<div th:replace="~{layout/base-gnb :: base-gnb}"></div>

<div class="switch-view">
    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>

    <div id="all-article" class="MODULE">

        <div class="header-group">
            <div class="title">전체 글 보기</div>
            <div class="sub">지금까지 올라온 모든 글을 확인할 수 있습니다.</div>
        </div>

        <input type="hidden" id="category" th:value="${category}"/>
        <!-- voteCount 기준으로 요청을 보내는 링크 -->
        <a th:href="@{/home.do (criteria='likeCount')}">좋아요 기준 정렬</a>

        <!-- likeCount 기준으로 요청을 보내는 링크 -->
        <a th:href="@{/home.do (criteria='viewCount')}">조회수 기준 정렬</a>

        <th:block th:if="${not #lists.isEmpty(boardList)}">
            <ul>
                <li th:each="board : ${boardList}">
                    <span th:text="${board.category}"></span>
                    <a th:href="@{/board/detail/{id}(id=${board.id})}" th:text="${board.boardTitle}">Board Title</a>
                    <span th:switch="${board.voteProgress}">
                    <span th:case="1">투표 진행중</span>
                    <span th:case="2">투표 종료</span>
                </span>
                </li>
            </ul>
        </th:block>
        <a th:href="@{/board/create}" class="category" style="color:black">게시글 작성</a>

    </div>
    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>
</div>
</body>
</html>