<!DOCTYPE html>
<<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭킹별</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{layout/base-header :: base-header}"></div>
<div th:replace="~{layout/base-gnb :: base-gnb}"></div>

<div class="switch-view">
    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>

    <div id="all-article" class="MODULE">

        <div class="header-group">
            <div class="title">전체 글 보기</div>
            <div class="sub">지금까지 올라온 모든 글을 확인할 수 있습니다.</div>
        </div>

        <input type="hidden" id="category" th:value="${category}"/>
        <!-- voteCount 기준으로 요청을 보내는 링크 -->
        <a th:href="@{/home.do (criteria='likeCount')}">좋아요 기준 정렬</a>

        <!-- likeCount 기준으로 요청을 보내는 링크 -->
        <a th:href="@{/home.do (criteria='viewCount')}">조회수 기준 정렬</a>

        <th:block th:if="${not #lists.isEmpty(boardList)}">
            <ul>
                <li th:each="board : ${boardList}" class="clickable-li">
                    <span th:text="${board.category}"></span>
                    <a th:href="@{/board/detail/{id}(id=${board.id})}" th:text="${board.boardTitle}">Board Title</a>
                    <span th:switch="${board.voteProgress}">
            <span th:case="1">투표 진행중</span>
            <span th:case="2">투표 종료</span>
          </span>
                </li>
            </ul>
        </th:block>
        <a th:if="${member} != null" th:href="@{/board/create}" class="category" style="color:black">게시글 작성</a>

    </div>
    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>
</div>
<script>
    // 모든 clickable-li 클래스 요소를 선택
    const liElements = document.querySelectorAll('.clickable-li');

    // 각 li 요소에 클릭 이벤트 리스너 추가
    liElements.forEach(li => {
        li.addEventListener('click', () => {
            // li 요소 내의 a 태그를 찾고 클릭
            const link = li.querySelector('a');
            if (link) {
                link.click();
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>