<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board-detail</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
        }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .selected-vote {
            background-color: #d1e7dd !important;
        }

        .custom-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }

        .custom-btn:hover {
            background-color: #45a049;
        }

        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>

</head>

<body>
<div th:replace="~{layout/base-header :: base-header}"></div>
<div th:replace="~{layout/base-gnb :: base-gnb}"></div>

<div class="switch-view">
    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>

    <div id="read-article" class="MODULE">

        <div class="header-area">
            <div class="text">
                <div class="article-title"><span th:text="${board.boardTitle}"></span></div>
                <div class="article-createAt"><span th:text="${board.userId}"></span> /  <span th:utext="${board.createdAt}"></span></div>
            </div>
            <div class="count">
                <div class="view">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M2.97924 10.2709C4.36454 8.19808 7.26851 5 12 5C16.7314 5 19.6354 8.19808 21.0207 10.2709C21.4855 10.9665 21.718 11.3143 21.6968 11.9569C21.6757 12.5995 21.4088 12.9469 20.8752 13.6417C19.2861 15.7107 16.1129 19 12 19C7.88699 19 4.71384 15.7107 3.12471 13.6417C2.59106 12.9469 2.32424 12.5995 2.30308 11.9569C2.28193 11.3143 2.51436 10.9665 2.97924 10.2709ZM11.9999 16C14.2091 16 15.9999 14.2091 15.9999 12C15.9999 9.79086 14.2091 8 11.9999 8C9.79081 8 7.99995 9.79086 7.99995 12C7.99995 14.2091 9.79081 16 11.9999 16Z"
                              fill="#8c8c8c" />
                    </svg>
                    <span th:text="${board.viewCount}"></span>
                </div>
                <div class="like">
                    <button id="likeButton">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M4.45067 13.9082L11.4033 20.4395C11.6428 20.6644 11.7625 20.7769 11.9037 20.8046C11.9673 20.8171 12.0327 20.8171 12.0963 20.8046C12.2375 20.7769 12.3572 20.6644 12.5967 20.4395L19.5493 13.9082C21.5055 12.0706 21.743 9.0466 20.0978 6.92607L19.7885 6.52734C17.8203 3.99058 13.8696 4.41601 12.4867 7.31365C12.2913 7.72296 11.7087 7.72296 11.5133 7.31365C10.1304 4.41601 6.17972 3.99058 4.21154 6.52735L3.90219 6.92607C2.25695 9.0466 2.4945 12.0706 4.45067 13.9082Z"
                                    fill="#8c8c8c" stroke="#8c8c8c" stroke-width="2" />
                        </svg>
                    </button>
                    <div class="like-count"></div>
                </div>
            </div>
        </div>
        <div th:if="${board.userId} == ${member}">
            <a th:href="'/board/update/' + ${board.id}" class="custom-btn">게시글 수정</a>
            <button id="deleteButton" class="custom-btn">게시글 삭제</button>
        </div>

        <div class="content-area">
            <div th:utext="${board.boardContent}"></div>
        </div>

        <div id="vote-info">
            <input type="hidden" id="voteEnd" th:value="${board.voteEnd}"/>
            <div class="title">
                <span th:utext="${board.voteTitle}"></span>
            </div>
            <div th:switch="${board.voteProgress}">
                <span th:case="1">투표 진행 상태 : 진행중</span>
                <span th:case="2">투표 진행 상태 : 종료</span>
            </div>
            <div class="date-info">(
                <span th:utext="${board.voteEnd}"></span> /
                <div id="remainingTime"></div> )
            </div>
        </div>

        <form id="voteForm" th:if="${board.voteFlag}">
            <input type="hidden" id="boardId" name="boardId" th:value="${board.id}"/>
            <input type="hidden" name="userId" th:value="${member}"/>
            <table class="table">
                <tbody>
                <tr th:each="vote : ${voteList}"
                    th:class="${vote.voteNumber} == ${votedNumber} ? 'selected-vote' : ''"
                    th:onclick="|document.querySelector('input[name=voteOption][value=${vote.voteNumber}]').checked = true; updateSelection(this);|">
                    <td th:text="${vote.voteNumber}" style="width:20px"></td>
                    <td style="width: 95px;">
                        <img th:src="${vote.imagePath}" alt="Vote Image"/>
                    </td>
                    <td th:text="${vote.text}"></td>
                    <td style="width: 50px;">
                        <span th:text="${vote.voteCount}" ></span>명
                    </td>

                    <td style="display: none;">
                        <input type="radio" name="voteOption" th:value="${vote.voteNumber}"
                               th:checked="${vote.voteNumber} == ${votedNumber}"/>
                    </td>
                </tr>

                </tbody>
            </table>
            <div id="submit-area">
                <button type="submit">투표하기</button>
            </div>
        </form>

        <div id="comment-area">
            <div class="input-area">
                <div class="header">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3259 5.77772C20 6.78661 20 8.19108 20 11C20 13.8089 20 15.2134 19.3259 16.2223C19.034 16.659 18.659 17.034 18.2223 17.3259C17.3409 17.9148 16.1577 17.9892 14 17.9986V18L12.8944 20.2111C12.5259 20.9482 11.4741 20.9482 11.1056 20.2111L10 18V17.9986C7.8423 17.9892 6.65907 17.9148 5.77772 17.3259C5.34096 17.034 4.96596 16.659 4.67412 16.2223C4 15.2134 4 13.8089 4 11C4 8.19108 4 6.78661 4.67412 5.77772C4.96596 5.34096 5.34096 4.96596 5.77772 4.67412C6.78661 4 8.19108 4 11 4H13C15.8089 4 17.2134 4 18.2223 4.67412C18.659 4.96596 19.034 5.34096 19.3259 5.77772Z" fill="#7E869E" fill-opacity="0.25"/>
                        <circle cx="16" cy="11" r="1" fill="#222222"/>
                        <circle cx="12" cy="11" r="1" fill="#222222"/>
                        <circle cx="8" cy="11" r="1" fill="#222222"/>
                    </svg>
                    <div class="title">댓글</div>
                </div>
                <form id="commentForm">
                    <input type="hidden" name="boardId" th:value="${board.id}"/>
                    <input type="hidden" name="commentUserId" th:value="${member}"/> <!-- 실제 사용자 ID로 변경 필요 -->
                    <textarea name="commentContent" rows="4" cols="50" placeholder="댓글을 입력하세요..." class="form-control custom-input"></textarea>
                    <button id="commentSend">댓글 작성</button>
                </form>
            </div>
            <div class="object-view">
                <div th:each="comment : ${commentList}" class="comment">
                    <div class="header">
                        <span class="name" th:text="${comment.userId}"></span>
                        <span class="date" th:text="${comment.createdAt}"></span>
                    </div>
                    <div class="text">
                        <p th:text="${comment.content}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>
</div>
<script>
    function updateSelection(selectedRow) {
        const rows = document.querySelectorAll('tr.selected-vote');
        rows.forEach(row => row.classList.remove('selected-vote'));
        selectedRow.classList.add('selected-vote');
    }

    document.querySelectorAll('.table tbody tr').forEach(row => {
        row.addEventListener('click', function () {
            document.querySelector(`input[name=voteOption][value="${this.querySelector('input[name=voteOption]').value}"]`).checked = true;
            updateSelection(this);
        });
    });

    window.onload = function () {
        // 남은 시간 계산 함수 호출
        calculateTimeRemaining();
    };

    $(document).ready(function () {
        var boardId = $('input[name="boardId"]').val(); // 게시판의 ID;

        // API 호출을 통해 좋아요 여부 및 개수 확인
        $.ajax({
            type: 'GET',
            url: '/like/' + boardId + '/status',
            success: function (response) {
                console.log(response);
                // 좋아요 여부에 따라 버튼 스타일과 텍스트 변경
                var $svgPath = $('#likeButton svg path');
                if (response.hasLiked) {
                    $svgPath.attr('fill', '#FF0000');
                    $svgPath.attr('stroke', '#FF0000');
                } else {
                    $svgPath.attr('fill', '#8c8c8c');
                    $svgPath.attr('stroke', '#8c8c8c');
                }
                // 좋아요 개수를 버튼 텍스트에 추가
                $('.like-count').text(response.likeCount);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText); // 오류 처리
            }
        });

    });

    $('#likeButton').click(function () {
        var boardId = $('input[name="boardId"]').val(); /* 게시판의 ID */;
        $.ajax({
            type: 'POST',
            url: '/like/' + boardId,
            success: function (response) {
                location.reload(); // 페이지 새로고침
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
                console.error(xhr.responseText); // 오류 처리
            }
        });
    });

    $('#deleteButton').on('click', function () {
        var boardId = $('input[name="boardId"]').val();
        if (confirm("게시글을 삭제하시겠습니까?")) {
            $.ajax({
                type: 'DELETE',
                url: '/board/delete/' + boardId,
                success: function (response) {
                    alert('게시글이 삭제되었습니다.');
                    window.location.href = '/home.do';
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('게시글 삭제에 실패했습니다.');
                }
            });
        }
    });

    function calculateTimeRemaining() {
        // voteEnd의 값 가져오기
        var voteEndValue = document.getElementById("voteEnd").value;

        // voteEnd를 Date 객체로 변환
        var voteEndDateTime = new Date(voteEndValue);

        // 현재 시간 구하기
        var now = new Date();

        // voteEnd와 현재 시간의 차이 계산 (밀리초 단위)
        var timeDiff = voteEndDateTime - now;

        var remainingTime = Math.max(timeDiff, 0);

        // 차이를 일, 시간, 분으로 변환
        var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));

        // 마감 시간이 지났는지 확인하고 투표 버튼을 비활성화합니다.
        if (remainingTime === 0) {
            var voteButton = document.getElementById("voteButton");
            voteButton.disabled = true;
            var remainingTimeElement = document.getElementById("remainingTime");
            remainingTimeElement.innerHTML = "투표가 마감되었습니다.";
        } else {
            var remainingTimeElement = document.getElementById("remainingTime");
            remainingTimeElement.innerHTML =  days + "일 " + hours + "시간 " + minutes + "분";
        }
        // HTML에 남은 시간을 표시합니다.

        // 결과 출력
        console.log("남은 일수: " + days + "일");
        console.log("남은 시간: " + hours + "시간");
        console.log("남은 분: " + minutes + "분");
    }

    $(document).ready(function () {
        $('#voteForm').on('submit', function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            var voteNumber = $('input[name="voteOption"]:checked').val();
            if (!voteNumber) {
                alert('투표 항목을 선택해 주세요.');
                return;
            }

            var boardId = $('input[name="boardId"]').val();
            var userId = $('input[name="userId"]').val();

            $.ajax({
                type: 'POST',
                url: '/api/vote',
                data: {
                    voteNumber: voteNumber,
                    boardId: boardId,
                    userId: userId
                },
                success: function () {
                    alert("투표 처리가 완료되었습니다.");
                    location.reload(); // 페이지 새로고침
                },
                error: function (xhr, status, error) {
                    alert('투표 처리 중 오류가 발생했습니다.');
                }
            });
        });

        document.getElementById("commentSend").addEventListener("click", function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            var userId = $('input[name="commentUserId"]').val();
            var content = $('textarea[name="commentContent"]').val();
            var boardId = $('input[name="boardId"]').val();

            $.ajax({
                type: 'POST',
                url: '/api/comment',
                contentType: 'application/json', // JSON 형식으로 데이터를 전송
                data: JSON.stringify({ // 데이터를 JSON 형식으로 변환하여 전송
                    userId: userId,
                    content: content,
                    boardId: boardId
                }),
                success: function () {
                    alert("댓글이 작성되었습니다.");
                    location.reload(); // 페이지 새로고침
                },
                error: function (xhr, status, error) {
                    alert('댓글 작성 중 오류가 발생했습니다.');
                }
            });
        });
    });
</script>
</body>

</html>