<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>랭킹별</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{layout/base-header :: base-header}"></div>
<div th:replace="~{layout/base-gnb :: base-gnb}"></div>

<div class="switch-view">
  <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>

  <div id="all-article" class="MODULE">

    <div class="header-group">
      <div class="title">검색된 결과</div>
      <div class="sub" th:text="'검색 키워드 : ' + ${keyword}" style="color: red"></div>
    </div>

    <!-- 가운데 게시판 리스트 -->
    <th:block th:if="${not #lists.isEmpty(boardList)}">
      <ul>
        <li th:each="board : ${boardList}" class="clickable-li">
          <span th:text="${board.category}"></span>
          <a th:href="@{/board/detail/{id}(id=${board.id})}" th:text="${board.boardTitle}">Board Title</a>
          <span th:switch="${board.voteProgress}">
            <span th:case="1">투표 진행중</span>
            <span th:case="2">투표 종료</span>
          </span>
        </li>
      </ul>
    </th:block>
    <a th:if="${member} != null" th:href="@{/board/create}" class="category" style="color:black">게시글 작성</a>


    </div>
    <div th:replace="~{components/ads/ad-screen :: components-ads-adscreen}"></div>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
